.logo {
    display: flex;
    align-items: center;

    &-img {
        width: 35px;
    }

    span {
        font-size: 1rem;
        color: #2180f3;
    }

    @supports (background-clip: text) or (-webkit-background-clip: text) {
        span {
            font-size: 1rem;
            color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-color: #2180f3;
            background-image: linear-gradient(50deg, #7461d3 0%, #03d4ec 100%);
        }
    }
}
