@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
:root {
  --primary-color: #2180f3;
  --primary-background: linear-gradient(50deg, #7461d3 0%, #03d4ec 100%);
  --text-color: #333;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.hide {
  display: none;
}

.d-block {
  display: block;
}

.opacity-hide {
  opacity: 0;
}

.alert {
  color: #084298;
  margin-top: -10px;
  margin-bottom: 20px;
  padding: 10px 15px;
  min-width: 460px;
  background-color: #cfe2ff;
  border: 1px solid #b6d4fe;
  border-radius: 5px;
}

.alert-success {
  color: #055160;
  background-color: #cff4fc;
  border: 1px solid #b6effb;
}

.m-0 {
  margin: 0px !important;
}
